* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: Verdana, sans-serif;
}
/* font-family: "ProximaNovaRegular"; */
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaBold"; */
@font-face {
    font-family: "ProximaNovaBold";
    src: url("../fonts/ProximaNovaBold.otf");
    src: url("../fonts/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBold.woff") format("woff"),
    url("../fonts/ProximaNova-Bold.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaBlack"; */
@font-face {
    font-family: "ProximaNovaLight";
    src: url("../fonts/ProximaNovaBlack.eot");
    src: url("../fonts/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBlack.woff") format("woff"),
    url("../fonts/ProximaNova-Light.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaSemiBoldIt"; */
@font-face {
    font-family: "ProximaNovaSemiBoldIt";
    src: url("../fonts/ProximaNovaBlack.eot");
    src: url("../fonts/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBlack.woff") format("woff"),
    url("../fonts/ProximaNova-SemiboldItalic.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaSemiBold"; */
@font-face {
    font-family: "ProximaNovaSemiBold";
    src: url("../fonts/ProximaNovaBlack.eot");
    src: url("../fonts/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBlack.woff") format("woff"),
    url("../fonts/ProximaNova-Semibold.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaBoldIt"; */
@font-face {
    font-family: "ProximaNovaBoldIt";
    src: url("../fonts/ProximaNovaBlack.eot");
    src: url("../fonts/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBlack.woff") format("woff"),
    url("../fonts/ProximaNova-BoldIt.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.page {
	color: #fff;
	height: 100%;
	min-height: 650px;
	position: relative;
	overflow: hidden;
	text-align: center;
	width: 100%;
	min-width: 910px;
}
.page__top {
	background-color: #00618d;
	display: table;
	height: 50%;
	position: relative;
	width: 100%;
}
.page-top__content,
.page-bottom__content {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

#triangle-up {
	bottom: -77px;
	background-color: #00618d;
	border-left: 600px solid transparent;
	border-right: 2000px solid transparent;
	border-bottom: 80px solid #027db4;
	height: 0;
	left: 50%;
	margin-left: -1120px;
	position: absolute;
	width: 0;
}
.pic-wrapper {
	border: 8px solid #027db4;
    overflow: hidden;
	position: absolute;
	left: 50%;
	top: -116px;
	margin: 0 0 0 -60px;
    width: 120px;
    height: 120px;
    -webkit-backface-visibility: hidden;
	transform: scaleX(1.5) rotate(45deg);
}
.page__bottom {
	background-color: #027db4;
	display: table;
	height: 100%;
	width: 100%;
}
.pic-wrapper__pic {
    transform: rotate(-45deg) scaleX(0.667);
    -webkit-backface-visibility: hidden;
}
.pic-wrapper__pic img {
    display: block;
	margin-left: -90%;
	margin-top: -30%;
	width: auto;
}
.bx-wrapper .pic-wrapper__pic img {
	max-width: none;
}
.page-bottom-cr__more {
	background: url("../img/sprite.png") transparent 0 -79px no-repeat;
	border: none;
	cursor: pointer;
	display: inline-block;
	height: 32px;
	margin: 32px 0;
	outline: none;
	position: relative;
	width: 50px;
}
.page-bottom__cr {
	position: relative;
	display: block;
	max-width: 765px;
	margin: 0 auto;
}
.page-bottom-cr__quote {
	background: url("../img/sprite.png") transparent no-repeat 0 -111px;
	display: block;
	height: 48px;
	position: absolute;
	top: -52px;
	left: -35px;
	width: 45px;
}
.page-top-content__description {
	display: inline-block;
	max-width: 765px;
}
.page-bottom-cr__quote_right {
	background-position: -45px -111px;
	right: -41px;
	left: auto;
	top: -46px;
}
.page-top__title {
	font-size: 33px;
	font-family: "ProximaNovaBold";
	text-transform: uppercase;
}
.page-top__text {
	font-size: 18px;
	font-family: "ProximaNovaLight";
	margin: 15px 0;
}
.page-top__text_smaller {
	padding-top: 30px;
}
.page-top__text_bigger {
	font-size: 25px;
	font-family: "ProximaNovaRegular";
}
.page-top__title span,
.page-top__title_mobile {
	display: none;
}
.page-top-content__description {
	margin-bottom: 65px;
}
.page-bottom-cr__more-text {
	display: none;
	font-family: 'ProximaNovaLight';
}
.page-bottom-cr__text {
	font-size: 24px;
    font-family: "ProximaNovaSemiBoldIt";
    line-height: 28px;
}
.page-bottom-cr__person {
	font-size: 15px;
	font-family: "ProximaNovaRegular";
}
.page-bottom-cr-person__name {
	font-family: "ProximaNovaSemiBold";
}
@media only screen and (max-width: 640px) {
	.page {
		text-align: left;
		min-height: 100%;
		height: auto;
		min-width: 320px;
	}
	.page__top {
		padding: 22px;
		width: auto;
	}
	.page-top__text br {
		display: none;
	}
	.page__bottom {
		padding: 50px 22px 0;
		min-height: 100%;
		margin-top: 9px;
		width: auto;
	}
	.page-top__title {
		background-color: #008bca;
		font-family: "ProximaNovaRegular";
		margin: -22px -22px 0 -22px;
		padding: 15px 22px;
		font-size: 20px;
		text-transform: none;
	}
	.page-top__title h1 {
		font-weight: normal;
		font-size: 18px;
		display: inline-block;
	}
	.page-top__title span {
		display: inline;
		float: right;
	}
	.page-top__title_mobile {
		display: block;
		font-family: "ProximaNovaBold";
		font-size: 21px;
		margin-top: 50px;
		text-transform: uppercase;
	}
	.page-top__text {
		font-size: 15px;
	}
	.page-top__text_bigger {
		font-size: 20px;
		font-family: "ProximaNovaLight";
		margin-top: 18px;
	}
	.page-top__text_smaller {
		padding-top: 19px;
		line-height: 19px;
		margin-bottom: 31px;
	}
	.page-bottom-cr__more {
		display: none;
	}
	.page-bottom-cr__person {
		font-size: 13px;
		margin: 21px 0;
	}
	.page-bottom-cr-person__dashes {
		display: none;
	}
	.page-bottom-cr__more-text {
		display: block;
	}
	.page-bottom-cr__text {
		font-size: 18px;
		line-height: 21px;
	}
	.page-bottom-cr__more-text p {
		font-size: 15px;
		margin-top: 19px;
		line-height: 19px;
	}
	.page-bottom-cr__text {
		font-family: "ProximaNovaBoldIt";
	}
	.page-bottom-cr-person__name {
		font-family: "ProximaNovaBold";
	}
	#triangle-up {
		bottom: -77px;
		background-color: #027db4;
		border-top: 29px solid #00618d;
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
		height: 48px;
		left: 0;
		margin-left: 0;
		width: 100%;
	}
	.page-bottom-cr__quote {
		top: -63px;
		left: -2px;
	}
	.page-bottom-cr__quote_right {
		top: -57px;
		right: 0px;
		left: auto;
	}
	.pic-wrapper {
		top: -105px;
		width: 100px;
		height: 100px;
	}
	.pic-wrapper__pic img {
		margin-top: -21%;
	}
}